:root {  

    /*===== COLORS =====*/
    --primary-color: #FBDFDB;
    --background: #fff;
    --secondary-background: #EEEEEE;
    --text-color: #111111;
    --primary-subtitle-color: #999999;
    --secondary-subtitle-color: #777777;
    --green: #04D361;

    /*===== Font and typography =====*/
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 18px;
    --normal-font-size: 16px;
    --smaller-font-size: 14px;

    /*===== BORDER RADIUS =====*/
    --big-radius: 30px;
    --smaller-radius: 15px;

    /*===== MARGENES =====*/
    --mb-1: 5px;
    --mb-2: 10px;
    --mb-3: 15px;
    --mb-4: 20px;
    --mb-5: 25px;
    --mb-6: 30px;
    --mb-7: 50px;
    
    /*===== Z INDEX =====*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;

}
